.table_main_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}


.custom-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; 
  }
  
  .custom-header,
  .custom-cell {
    padding: 12px;
    height: auto;
    border: 1px solid rgba(255,255,255,0.5);
    text-align: center; 
    vertical-align: center;
  }

  .custom-cell_2 {
    padding: 10px;
    width: 130px;
    border: 1px solid rgba(255,255,255,0.5);
    text-align: center; 
    vertical-align: center;
  }
  
  .custom-header {
    background-color: rgb(73, 140, 255);
    color: #ffffff; 
    border: none;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: rgba(73, 140, 255, 0.5); 
  }

  .custom-table tbody tr {
    background-color: rgba(73, 140, 255, 0.3); 
  }
  
  .custom-table tbody td:first-child {
    background-color: rgb(73, 140, 255); 
  }
  


  .announcement{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
  }
  .up_announce {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .announcement button:hover{
    cursor: pointer;
    background: green;
  }

  .down_announce:nth-child(2){
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .down_announce button:nth-child(2):hover{
    cursor: pointer;
    background: yellow;
  }

  .thirdStop {
    margin-top: 20px;
    gap: 20px;
  }
  .thirdStop button:hover{
    cursor: pointer;
    background: red;
  }